<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Catalog</title>
    <link rel="stylesheet" href="catalog.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">OCEAN CATALOG</h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <div class="card">
                    <h2 class="card-heading">Shifting Seas</h2>
                    <p class="card-text">
                        As climate change accelerates, the world's oceans are experiencing significant transformations.
                        This dataset compiles realistic measurements of sea surface temperature (SST), pH levels, and
                        species observations from ecologically critical marine zones.
                    </p>
                    <a href="https://www.kaggle.com/datasets/atharvasoundankar/shifting-seas-ocean-climate-and-marine-life-dataset"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Climate Change</h2>
                    <p class="card-text">
                        A comprehensive climate change dataset includes time-series records of temperature anomalies,
                        CO2 emissions, deforestation rates, and sea-level rise across countries from 1900-2023, serving
                        to analyze trends and build predictive models for climate scenarios.
                    </p>
                    <a href="https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Ocean Temperatures</h2>
                    <p class="card-text">
                        This dataset contains global average land and ocean temperature data from 1750 to present,
                        providing the ability to investigate global climate change. It contains several data sets that
                        provide insight on the past and current temperatures of our planet.
                    </p>
                    <a href="https://www.kaggle.com/datasets/atharvasoundankar/shifting-seas-ocean-climate-and-marine-life-dataset"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Otolith data</h2>
                    <p class="card-text">
                        An otolith dataset is a collection of data derived from fish ear bones, used in fisheries
                        science, marine ecology, and conservation biology to study fish age, growth. These datasets can
                        contain various types of information, including images and 3D scans of otoliths for morphometric
                        analysis, chemical composition data, and metadata on the fish specimens
                    </p>
                    <a href="https://www.seanoe.org/data/00954/106566/" class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Earth Temperatures</h2>
                    <p class="card-text">
                        This file is based on the new high-resolution Berkeley Earth global temperature data set. It
                        expands upon the previous Berkeley Earth temperature data set by including structures based on
                        historical weather patterns and increasing the underlying resolution to 0.25° x 0.25°
                        latitude-longitude.
                    </p>
                    <a href="https://www.kaggle.com/datasets/joebeachcapital/global-earth-temperatures"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Microplastic Dataset</h2>
                    <p class="card-text">
                        Microplastic datasets contain detailed data on the quantity, characteristics, and distribution
                        of microplastics in various environments, such as the world's oceans, drinking water, and
                        sewage, providing crucial information for scientific research and environmental monitoring.
                    </p>
                    <a href="https://www.kaggle.com/datasets/imtkaggleteam/microplastic-dataset-for-computer-vision"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Plastic Pollution</h2>
                    <p class="card-text">
                        Plastic pollution datasets provide information on plastic production, waste management, and its
                        environmental impact, covering global and regional levels with details on waste volume,
                        recycling rates, and sources of pollution..
                    </p>
                    <a href="https://www.kaggle.com/datasets/imtkaggleteam/plastic-pollution"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Sea Animals Images</h2>
                    <p class="card-text">

                       Recognizing sea animals is a significant challenge in digital image recognition, due to the diverse visual characteristics of marine life, their shapes, colors, and textures.
                    </p>
                    <a href="https://www.kaggle.com/datasets/vencerlanz09/sea-animals-image-dataste"
                        class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Oil Spill Classification</h2>
                    <p class="card-text">
                        The dataset was specifically developed by starting with satellite images of the ocean, some of
                        which clearly contain an oil spill and some that do not.
                    </p>
                    <a href="https://www.kaggle.com/datasets/sudhanshu2198/oil-spill-detection"
                        class="card-button" target="_blank">Browse</a>
                </div>
            </div>
        </div>
    </main>

    <script src="catalog.js"></script>

</body>

</html>