<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCA Varience</title>
    <link rel="stylesheet" href="graphs.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">PCA – Variance Explained (Bar Chart)
        </h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <img class="graph" src="graph3.png" alt=""><br><br>
                <div class="card">

                    <p class="card-text">
                        This bar chart shows how much of the data’s variation is captured by the first two principal components. <br>
                        <ul>
                            <li>PC1 explains 75 % of the total variance, meaning it represents most of the overall pattern in the environmental variables (Sea Surface Temperature, pH Level, Marine Heatwave presence, and Bleaching events).</li><br>
                            <li>PC2 explains the remaining 25 %, adding the secondary pattern.</li>
                        </ul> <br><br>
                        Together, PC1 and PC2 summarize the majority of the complex relationships among the variables. The taller the bar, the more information (variance) that component preserves from the original dataset.


                    </p>

                </div>

            </div>
        </div>
    </main>



</body>

</html>