<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCA of enviromental variables</title>
    <link rel="stylesheet" href="graphs.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">PCA of Environmental Variables
        </h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <img class="graph" src="graph2.png" alt=""><br><br>
                <div class="card">

                    <p class="card-text">
                        This scatter plot positions each sampling site according to its scores on PC1 and PC2,
                        effectively reducing four environmental dimensions into two. <br><br>
                    <ul>
                        <li>Each point represents one observation, with its location showing its combined environmental
                            profile. Points that cluster together share similar temperature, pH, heatwave presence, and
                            bleaching levels</li> <br>
                        <li>Color shading reflects the number of Species Observed: <br>
                            <ul>
                        <li>Brighter/lighter colors indicate higher species counts.
                        </li>br 

                        <li>Darker colors indicate lower counts.</li>
                        </li></ul>
                    </ul>
                    Patterns in the color distribution help reveal how species richness changes across environmental
                    gradients.


                    </p>

                </div>

            </div>
        </div>
    </main>



</body>

</html>