<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Richness</title>
    <link rel="stylesheet" href="graphs.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">Species Richness and Record Density
        </h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <h2 style="text-align: center;">Asian Pacific</h2><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">1. Discrete global grid solution 6(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="1.png" alt="">
                        <img class="graph" src="1.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">2. Discrete global grid solution 7(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="2.png" alt="">
                        <img class="graph" src="3.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">3. Discrete global grid solution 8(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="4.png" alt="">
                        <img class="graph" src="5.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">4. Discrete global grid solution 9(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="6.png" alt="">
                        <img class="graph" src="7.png" alt="">
                    </div>
                </div><br>
                <h2 style="text-align: center;">Asian Pacific</h2><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">1. Discrete global grid solution 6(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="8.png" alt="">
                        <img class="graph" src="9.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">2. Discrete global grid solution 7(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="10.png" alt="">
                        <img class="graph" src="11.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">3. Discrete global grid solution 8(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="12.png" alt="">
                        <img class="graph" src="13.png" alt="">
                    </div>
                </div><br>
                <div class="graph-container">
                    <h3 style="text-align: center;">4. Discrete global grid solution 9(february 2020)</h3><br>

                    <div class="img-container">
                        <img class="graph" src="14.png" alt="">
                        <img class="graph" src="15.png" alt="">
                    </div>
                </div><br>

                
            </div>
        </div>
    </main>



</body>

</html>