<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp vs Species </title>
    <link rel="stylesheet" href="graphs.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">Sea Surface Temperature (SST in °C) and Species Observed</h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <img class="graph" src="graph1.png" alt=""><br><br>
                <div class="card">
                    
                    <p class="card-text">
                       This figure illustrates the linear relationship between Sea Surface Temperature (SST in °C) and Species Observed, using a simple linear regression model. <br>
                       <ul>
                        <li>Blue scatter points represent the individual data samples collected from the dataset. Each point corresponds to a recorded sea-surface temperature and the number of species observed at that temperature.</li><br>
                        <li>The red straight line is the best-fit regression line calculated by the model. It represents the model’s prediction of the expected number of species observed at any given SST value.
</li><br>
<li>The slope of this line indicates how strongly and in which direction the number of species observed changes with temperature.
</li>
                       </ul>
                    </p>
                    
                </div>
                
            </div>
        </div>
    </main>

    <script src="catalog.js"></script>

</body>

</html>