<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ocean</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="logo.png">

</head>

<body>

    

    <div class="hero-section">
        <img src="https://images.unsplash.com/photo-1518174737273-de9e3d9378de?q=80&w=2942&auto=format&fit=crop"
            alt="Underwater ocean view with bubbles" class="background-image">

        <header class="header">
            <nav class="nav-bar">
                <a href="#" class="nav-item">HOME</a>
                <a href="#" class="nav-item">ABOUT</a>
                <a href="#" class="nav-item">MORE</a>
                <a href="/login" class="nav-item">LOGIN</a>
                <a href="/signUp" class="nav-item">SIGNUP</a>
            </nav>
        </header>

        <div class="main-content">
            <h1 class="main-heading">THE OCEAN</h1>
            <div class="card-container">
                <div class="card">
                    <h2 class="card-heading">Upload Data</h2>
                    <p class="card-text">
                        Upload your own data to contribute to our ever-expanding database. Share your research, digital art, or other valuable files with the community and make a lasting impact.
                    </p>
                    <a href="#" class="card-button">Upload</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Browse Projects</h2>
                    <p class="card-text">
                        Discover a diverse collection of projects from creators worldwide. See how others are using data to build incredible things and get inspired for your next venture.
                    </p>
                    <a href="/project" class="card-button">Projects</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Browse Catalog</h2>
                    <p class="card-text">
                        Access a vast catalog of searchable data. From scientific datasets to digital assets, our organized library helps you quickly find the resources you need for any project.
                    </p>
                    <a href="/catalog" class="card-button">Browse</a>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>

</body>

</html>