<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCEAN ANALYSIS</title>
    <link rel="stylesheet" href="project.css">
    <link rel="icon" type="image/png" href="logo.png">
</head>

<body>



    <main>
        <h1 class="main-heading">OCEAN ANALYSIS</h1> <br><br>

        <div class="cards-section">
            <div class="card-container">
                <div class="card">
                    <h2 class="card-heading">Temp vs Time Dashboard</h2>
                    <p class="card-text">
                        Global temperatures, stable for over a century, began a sharp and consistent rise after the
                        Industrial Revolution. This human-driven warming, accelerating post-1970, is now causing major
                        ecological harm to marine life.
                    </p>
                    <a href="https://temp-time-yngb4firg4.streamlit.app/" class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Surface Temp. and Species</h2>
                    <p class="card-text">
                        Global temperatures, stable for over a century, began a sharp and consistent rise after the
                        Industrial Revolution. This human-driven warming, accelerating post-1970, is now causing major
                        ecological harm to marine life.
                    </p>
                    <a href="/graph1" class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">PCA of enviromental variables</h2>
                    <p class="card-text">
                        This scatter plot relates environmental data to species counts. Point location shows
                        environmental conditions, while color indicates species numbers. The plot helps reveal how
                        biodiversity changes with environment.
                    </p>
                    <a href="/graph2" class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">PCA Varience</h2>
                    <p class="card-text">
                        This bar chart, "PCA – Variance Explained," shows that the first two principal components
                        capture all of the data's variation. PC1 alone explains 75% of the total variance, representing
                        the primary patterns in the environmental data, while PC2 explains the remaining 25%, adding a
                        secondary pattern.
                    </p>
                    <a href="/graph3" class="card-button" target="_blank">Browse</a>
                </div>
                <div class="card">
                    <h2 class="card-heading">Species Richness</h2>
                    <p class="card-text">
                        Explore global marine biodiversity through interactive heat maps of species richness and record
                        density.
                        Species richness shows how many different species are found in each region, while record density
                        highlights areas with the most sampling and observations
                    </p>
                    <a href="/graph4" class="card-button" target="_blank">Browse</a>
                </div>

            </div>
        </div>
    </main>

    <script src="project.js"></script>

</body>

</html>